.together {
  position: relative;
  margin-top: 140px;
}

.together-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 4.375rem 1.25rem 2.813rem;
}

.together-div p {
  max-width: 55ch;
}

.together-div img {
  width: 100%;
  max-width: 513px;
}

@media (max-width: 661px) {
  .together {
    margin-top: 7.813rem;
  }
  .together-div {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .together-div img {
    grid-row: 1;
  }
  .title {
    text-align: center;
    margin-top: 3.875rem;
  }
  .description {
    text-align: center;
    margin-top: 0.75rem;
  }
}
