.users {
  position: relative;
  margin-top: 90px;
}

.users-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2.625rem 1.25rem;
}

@media (max-width: 661px) {
  .users {
    margin-top: 13.813rem;
  }
  .users-div img{
    grid-row: 1;
  }
  .users-div {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 375px) {
  .users {
    margin-top: 13.625rem;
  }
  .users::before {
    height: 103px;
    background-size: contain;
    top: -103px;
  }
  .users::after {
    height: 101px;
    background-size: contain;
    bottom: -101px;
  }
}